*{
    margin: 0;
    padding: 0;
}
html {
    font-size: clamp(12px, 1.2vw, 18px);
}
body{
    background-color: rgb(255, 255, 255);
    color: black;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    margin: auto;  */
}
a{
    color: white;
    text-decoration: none;
}
.header_area{
    height:4rem;
    width: 100vw;
}
#navbar{
    background-color: rgb(61, 0, 28);
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#mainheading{
    text-align: center;
    width: 60%;
    font-size: clamp(1rem, 3vw, 1rem);

}
#contact{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-size:clamp(1rem, 2vw, 1.4rem);
}
.icon{
    color: white;
}
.footer_area{
    height: 40px;
    width: 100vw;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-material{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:100%;
    width:90%;
}
.project_box{
    height: 25vh;
    width: 25vw;
    /* width: clamp(260px, 25vw, 320px); */
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    text-align: Center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(75, 0, 78);
    border-radius: 10px;
    background-color: rgb(231, 215, 228);
}
#proj-content{
    text-decoration: underline;
    font-weight: bold;
    font-size: clamp(1rem, 1.8vw, 1.3rem);
    color:  rgb(75, 0, 78);
}
#about{
    width: 80%;
}
#proj-link{
    width: 50%;
    height: 15%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(61,0,28);
    border-radius: 2rem;
}