* {
    color: black;
    justify-items: center;
}

h2 {
    text-decoration: underline;
}

.box {
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: 5px;
}

#box1 {
    background-color: red;
    color: white;
}

#box2 {
    background-color: rgb(249, 187, 0);
    color: white;
}

#box3 {
    background-color: rgb(186, 0, 253);
    color: white;
}

#box4 {
    background-color: rgb(0, 251, 255);
    color: white;
}

#div2 {
    display: inline-flex
}

.button {
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: 5px;
    display: inline-block;
}

#green {
    background-color: green;
    color: white;
}

#black {
    background-color: black;
    color: white;
}

#maroon {
    background-color: maroon;
    color: white;
}

#white {
    background-color: white;
    color: white;
}